---
title: Lior Azi
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">Mobile solutions</h2>
		<p class="subtext editable">Building innovative mobile solutions for your needs.</p>
		<!-- <p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Us</a></p> -->
	</div>
</section>

<!-- <section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">Some of our work</h3>
			<p class="editable">We take pride in our previous work and our happy customers. We cater to any sector to boost business and increase exposure.</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section> -->

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/xcode_logo.svg" width="200" style="margin-bottom: 40px;"></li>
				<li><img src="{{ site.baseurl }}/images/switchui_logo.jpg" width="200"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">Latest technology, greatest performance</h3>
			<p class="editable">We build our products with the most up to date technology. This ensures your app is fast, efficient and reliable for a long period.</p>
		</div>
	</div>
</section>
